@import "../../../styles//variables.scss";

.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 139vw;

  &Slider {
    margin-top: 50px;
  }

  &Navigation {
    position: absolute;
    display: flex;
    gap: 15px;
    margin-left: 22px;
    z-index: 2;
    bottom: 60px;
  }
}
